/* Images */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.site-header, .wrapper, #colophon{
    @extend .row;
}

.site-content, .widget-area{
    @extend .six;
    @extend .columns;
}

textarea{
    max-width:100%;
}

p {
    word-wrap: break-word;
}

#content{
    position: relative;
}

#content .sticky{
    position: relative;
}